<HedvigConfig>
        <Options>
                <cvm>woodcvm1.snc1.hedviginc.com</cvm>
                <metadatanode>wood1.snc1.hedviginc.com</metadatanode>
                <clustername>wood</clustername>
                <nfsexport>hedvigDockerContainer</nfsexport>
        </Options>
</HedvigConfig>
